@layer base {
  .blueberry {
    --background: 220 96% 82%;
    --foreground: 236 43% 23%;
    --card: 0 0% 100%;
    --card-foreground: 236 43% 23%;
    --popover: 0 0% 100%;
    --popover-foreground: 236 43% 23%;
    --primary: 221 76% 55%;
    --primary-foreground: 0 0% 100%;
    --secondary: 50 91% 65%;
    --secondary-foreground: 236 43% 23%;
    --muted: 220 96% 82%;
    --muted-foreground: 236 20% 43%;
    --accent: 42 84% 59%;
    --accent-foreground: 236 43% 23%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 100%;
    --border: 220 50% 72%;
    --input: 220 50% 72%;
    --ring: 221 76% 55%;
    --sidebar-background: 236 43% 23%;
    --sidebar-foreground: 0 0% 100%;
    --sidebar-primary: 0 0% 100%;
    --sidebar-primary-foreground: 236 43% 23%;
    --sidebar-accent: 50 91% 65%;
    --sidebar-accent-foreground: 236 43% 23%;
    --sidebar-border: 236 43% 13%;
    --sidebar-ring: 50 91% 65%;
  }
}