@layer base {
  .leaves {
    --background: 0 0% 96.1%;
    --foreground: 88 73% 25%;
    --card: 0 0% 100%;
    --card-foreground: 88 73% 25%;
    --popover: 0 0% 100%;
    --popover-foreground: 88 73% 25%;
    --primary: 42 87% 42%;
    --primary-foreground: 0 0% 100%;
    --secondary: 60 80% 31%;
    --secondary-foreground: 0 0% 100%;
    --muted: 0 0% 96.1%;
    --muted-foreground: 88 20% 55%;
    --accent: 38 89% 48%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 100%;
    --border: 0 0% 87.8%;
    --input: 0 0% 87.8%;
    --ring: 42 87% 42%;
    --sidebar-background: 88 73% 25%;
    --sidebar-foreground: 0 0% 100%;
    --sidebar-primary: 0 0% 100%;
    --sidebar-primary-foreground: 88 73% 25%;
    --sidebar-accent: 42 87% 42%;
    --sidebar-accent-foreground: 0 0% 100%;
    --sidebar-border: 88 73% 15%;
    --sidebar-ring: 42 87% 42%;
  }
}